In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import zscore

In [2]:
# Read csv
df = pd.read_csv('Resources/data.csv', parse_dates=True, na_values={'price': 0, 'bedrooms': 0,})
df.head()

In [3]:
df.tail()

In [4]:
df.info()

In [5]:
df.describe()

In [6]:
# TO count number of NaN/null values in each column 
df.isna().sum()

In [7]:
df.dropna(inplace=True)

In [8]:
# Dimensions 
df.shape

In [9]:
# Removing outliers using z-score calculations 
df['price_zscore'] = zscore(df['price'])
df['sqft_living_zscre'] = zscore(df['sqft_living'])
df['sqft_lot_zscre'] = zscore(df['sqft_lot'])
df['sqft_above_zscre'] = zscore(df['sqft_above'])
df['sqft_basement_zscre'] = zscore(df['sqft_basement'])

df = df[(df.price_zscore < 3) & (df.price_zscore > -3)]
df = df[(df.sqft_living_zscre < 3) & (df.sqft_living_zscre > -3)]
df = df[(df.sqft_lot_zscre < 3) & (df.sqft_lot_zscre > -3)]
df = df[(df.sqft_above_zscre < 3) & (df.sqft_above_zscre > -3)]
df = df[(df.sqft_basement_zscre < 3) & (df.sqft_basement_zscre > -3)]

In [10]:
df.drop(columns=['price_zscore','sqft_living_zscre','sqft_lot_zscre','sqft_above_zscre','sqft_basement_zscre'], inplace=True)

In [11]:
df.describe()

In [12]:
df[df['statezip'].str[0:2] != 'WA']

In [13]:
df.drop(columns=["country", "statezip","street",'date','city'], inplace=True)

In [14]:
df

In [15]:
%%writefile data_exploration_cleaning.py

In [16]:
%notebook -e data_exploration_cleaning.ipynb

In [17]:
%notebook -e data_preprocessing.ipynb

In [18]:
%notebook data_exploration_cleaning.ipynb

In [19]:
%notebook data_exploration_cleaning.ipynb

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import zscore

In [21]:
# Read csv
df = pd.read_csv('Resources/data.csv', parse_dates=True, na_values={'price': 0, 'bedrooms': 0,})
df.head()

In [22]:
df.tail()

In [23]:
df.info()

In [24]:
df.describe()

In [25]:
# TO count number of NaN/null values in each column 
df.isna().sum()

In [26]:
df.dropna(inplace=True)

In [27]:
# Dimensions 
df.shape

In [28]:
# Removing outliers using z-score calculations 
df['price_zscore'] = zscore(df['price'])
df['sqft_living_zscre'] = zscore(df['sqft_living'])
df['sqft_lot_zscre'] = zscore(df['sqft_lot'])
df['sqft_above_zscre'] = zscore(df['sqft_above'])
df['sqft_basement_zscre'] = zscore(df['sqft_basement'])

df = df[(df.price_zscore < 3) & (df.price_zscore > -3)]
df = df[(df.sqft_living_zscre < 3) & (df.sqft_living_zscre > -3)]
df = df[(df.sqft_lot_zscre < 3) & (df.sqft_lot_zscre > -3)]
df = df[(df.sqft_above_zscre < 3) & (df.sqft_above_zscre > -3)]
df = df[(df.sqft_basement_zscre < 3) & (df.sqft_basement_zscre > -3)]

In [29]:
df.drop(columns=['price_zscore','sqft_living_zscre','sqft_lot_zscre','sqft_above_zscre','sqft_basement_zscre'], inplace=True)

In [30]:
df.describe()

In [31]:
df[df['statezip'].str[0:2] != 'WA']

In [32]:
df.drop(columns=["country", "statezip","street",'date','city'], inplace=True)

In [33]:
df

In [34]:
%%writefile data_exploration_cleaning.py

In [35]:
%notebook -e data_exploration_cleaning.ipynb

In [36]:
%notebook -e data_preprocessing.ipynb

In [37]:
%notebook data_exploration_cleaning.ipynb

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import zscore

In [39]:
# Read csv
df = pd.read_csv('Resources/data.csv', parse_dates=True, na_values={'price': 0, 'bedrooms': 0,})
df.head()

In [40]:
df.tail()

In [41]:
df.info()

In [42]:
df.describe()

In [43]:
# TO count number of NaN/null values in each column 
df.isna().sum()

In [44]:
df.dropna(inplace=True)

In [45]:
# Dimensions 
df.shape

In [46]:
# Removing outliers using z-score calculations 
df['price_zscore'] = zscore(df['price'])
df['sqft_living_zscre'] = zscore(df['sqft_living'])
df['sqft_lot_zscre'] = zscore(df['sqft_lot'])
df['sqft_above_zscre'] = zscore(df['sqft_above'])
df['sqft_basement_zscre'] = zscore(df['sqft_basement'])

df = df[(df.price_zscore < 3) & (df.price_zscore > -3)]
df = df[(df.sqft_living_zscre < 3) & (df.sqft_living_zscre > -3)]
df = df[(df.sqft_lot_zscre < 3) & (df.sqft_lot_zscre > -3)]
df = df[(df.sqft_above_zscre < 3) & (df.sqft_above_zscre > -3)]
df = df[(df.sqft_basement_zscre < 3) & (df.sqft_basement_zscre > -3)]

In [47]:
df.drop(columns=['price_zscore','sqft_living_zscre','sqft_lot_zscre','sqft_above_zscre','sqft_basement_zscre'], inplace=True)

In [48]:
df.describe()

In [49]:
df[df['statezip'].str[0:2] != 'WA']

In [50]:
df.drop(columns=["country", "statezip","street",'date','city'], inplace=True)

In [51]:
df

In [52]:
%%writefile data_exploration_cleaning.py

In [53]:
%notebook -e data_exploration_cleaning.ipynb

In [54]:
%notebook -e data_preprocessing.ipynb

In [55]:
%notebook data_exploration_cleaning.ipynb